* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #f5f5f5; */
    text-align: center;
    /* background-color: ; */
}

.header_title {
    position: sticky;
    top: 0;
    justify-content: center;
    /* background: #008080; */
    text-decoration: underline 4px;
    font-size: 4.5rem;
    font-family: allura, cursive;
    color: #008080;
    margin-bottom: 20px;
    padding-top: 40px;
    border: 2px solid #191a1a;
}
/* font-family: sans-serif; /* Choose a suitable font */
/* margin: 0; */
/* Remove default margins */
/* display: flex; */
/* Enable flexbox layout */


.main-content {
    flex: 1;
    /* Takes up available space */
    padding: 20px;
}

.objetivos img {
    border-radius: 10px;
    float:left;
    width: 60%;
    height: 60%;
    margin: 0.5em;
}

.sidebar {
    width: 300px;
    /* Adjust width as needed */
    background-color: #f0f0f0;
    /* Light background color */
    padding: 20px;
}

/* Styling for the list */
.benefits-list {
    list-style-type: disc;
    /* Or 'circle', 'square' */
    padding-left: 20px;
    line-height: 1.6;
}

.benefits-list li {
    margin-bottom: 10px;
}

/* Example responsive design - Stack sidebar below main content on smaller screens */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        /* Stack vertically */
    }

    .sidebar {
        width: 100%;
        /* Full width on smaller screens */
    }
}



.kine_list_use {
    margin-left: 40px;
    text-align: left;
    list-style: circle;
    margin-top: 20px;
}








.back_to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background: #333;
    color: #fff;
    border-radius: 10%;
    cursor: pointer;
}

.back_to_top:hover {
    background: #008080;
    color: #fff;
    border: 1px solid #333;
    padding: 2xp;
    box-shadow: #008080 0px 10px 20px;
}